<div class="card is-fullwidth">
  <div class="card-header">
    <p class="card-header-title">CHAT</p>
  </div>
  <div class="card-body chat_scroll">
    <div class="card-content" #card_content>
    </div>
  </div>
  <div class="card-footer">
    <div class="field has-addons">
      <div class="control">
        <input class="input" type="text" maxlength="140" placeholder="Say Hello!" [(ngModel)]="message">
      </div>
      <div class="control">
        <button class="button is-danger" (click)="SendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>