<div class="card is-fullwidth">
  <div class="card-header">
    <p class="card-header-title">CHAT</p>
  </div>
  <div class="card-body chat_scroll">
    <div class="card-content">
      <div class="notification">
        <small><strong>Ata: </strong>Lorem ipsum dolor sit amet, consectetur.</small>
      </div>
      <div class="notification">
        <small><strong>Zingg: </strong>Lorem ipsum dolor sit amet, consectetur.</small>
      </div>
      <div class="notification">
        <small><strong>Emma: </strong>Lorem ipsum dolor sit amet, consectetur.</small>
      </div>
      <div class="notification is-danger">
        <small><strong>Anya: </strong>has donated $5</small>
      </div>
      <div class="notification">
        <small><strong>Bill: </strong>Lorem ipsum dolor sit amet, consectetur.</small>
      </div>
      <div class="notification">
        <small><strong>Trooper: </strong>Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet,
          consectetur Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor.</small>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="field has-addons">
      <div class="control">
        <input class="input" type="text" maxlength="140" placeholder="Say Hello!">
      </div>
      <div class="control">
        <a class="button is-danger">Send</a>
      </div>
    </div>
  </div>
</div>