<section class="hero is-black is-fullheight">
    <div class="hero-head">
        <header class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-item">
                        VIDEO.TV
                    </span>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
            </div>
        </header>
    </div>

    <div class="hero-body">
        <div class="container">
            <div class="columns is-desktop">
                <div class="column is-three-quarters">
                    <app-live class=""></app-live>
                </div>
                <div class="column">
                    <div class="card is-fullwidth">
                        <div class="card-header">
                            <p class="card-header-title">CHAT</p>
                        </div>
                        <div class="card-body">
                            <div class="card-content">
                                <div class="notification">
                                    <small>Lorem ipsum dolor sit amet, consectetur.</small>
                                </div>
                                <div class="notification">
                                    <small>Lorem ipsum dolor sit amet, consectetur.</small>
                                </div>
                                <div class="notification">
                                    <small>Lorem ipsum dolor sit amet, consectetur.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-foot">
        <div class="tabs is-boxed is-fullwidth">
            <div class="container has-text-centered">
                <p><small>All rights reserved.</small></p>
            </div>
        </div>
    </div>
</section>